@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|McLaren|Source+Sans+Pro');

/*
font-family: 'McLaren', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Libre Baskerville', serif;
*/

/* ------ NAVIGATION ------ */

/* -------- HEADER -------- */

/* --------- BODY --------- */

/* -------- IMAGES -------- */

/* -------- FOOTER -------- */

/* -------- OTHERS -------- */